@CHARSET "UTF-8";

body, h1, h2, h3, h4, h5, h6, table, input, select
,textarea, a
{
	color: #333;
	font-family: Nanum Gothic, Verdana, AppleGothic, sans-serif;
	font-size: 12px; 
}

#adminMain
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 13.8%;
}
	
#title
{
	width: 250px;
	height: 42px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}

#title_name, #admin_type
{
	color: #333;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: Roboto, Nanum Gothic;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10%;
	margin-bottom: 10%;	
}

#top_bar
{
	margin-top: 2%;
	display: inline-block;
	margin-bottom: 2%;
}

#content
{
	display: inline-flex;
}















