@CHARSET "UTF-8";

body, h1, h2, h3, h4, h5, h6, table, input, select
,textarea, a
{
	color: #333;
	font-family: Nanum Gothic, Verdana, AppleGothic, sans-serif;
	font-size: 12px; 
}

table, tr, td, th
{
	width: 500px;
}

#form_table input
{
	width: 500px;
	height: 42px;
	padding-left: 20px;
	border: 1px solid #e1e1e1;
	margin-bottom: 5px;
}

#div_login
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: 17.9%;
}
	
#title
{
	width: 250px;
	height: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}

#title_name
{
	color: #333;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: Roboto, Nanum Gothic;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10%;
	margin-bottom: 10%;
}

#content
{
	margin-top: 2%;    
	display: inline-block;
}

.btn
{
	width: 150px;
	height: 50px;
	text-align: center;
	display: inline-block;
	margin-top: 2%;
	background-color: #222;
	font-family: Roboto, Nanum Gothic;
	font-size: 18px;
	font-weight: bold;
	color: white;
}
.a
{
	color: black;
	font-size: small;
}
.base {
	
	height: 360px;
	width: 200px;
	background-color: rgba(255, 255, 255, 0);
	position: absolute;
	top: 305px;
	left: 0%;
}


.base a {
	font-size: 20px;
	color: #6d4c41;
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	/* 	border: 3px solid #b1aea6; */
	color: black;
	font-weight: 700;
	cursor: pointer;
	font-family: Tahoma, Geneva, sans-serif;
	width: 150px;
	margin-left: 0px;
}

.base a:HOVER {
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	font-size:20px;
	color: #ffffff;
    	background-color: #ff8a65;
    	border-radius: 4px;
}













