
.content {
	
	margin: auto;
	width: 1020px;
	min-height: 79.1vh;
	position:relative; 
	background-color: rgba(255, 255, 255, 0.8);
}


#footer{
	
	color: white;
	font-weight :900;
	background-color: #222;
	display:table;
	width: 100%;
	overflow: hidden;
	bottom 0;
	position:relative; 
	height:80px;
}