@CHARSET "UTF-8";

body, h1, h2, h3, h4, h5, h6, table, select, a
{
	color: #333;
	font-family: Nanum Gothic, Verdana, AppleGothic, sans-serif;
	font-size: 12px; 
}

#mypageMain
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	min-height: 73.7vh;
}

#findMain
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	min-height: 53.6vh;
}

#findMain1
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	min-height: 59.6vh;
}
	
#title
{
	width: 250px;
	height: 42px;
	margin-top: 0px;
	margin-bottom: 1.2%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}

#title_name, .mypage_type
{
	color: #333;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: Roboto, Nanum Gothic;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10%;
	margin-bottom: 10%;	
}

#top_bar
{
	margin-top: 2%;
	display: inline-block;
	margin-bottom: 2%;
}

#content
{
	display: inline-table;
	font-family: Roboto, Nanum Gothic;
	color: #e1e1e1;	
}

.mgBtn
{
	font-family: Roboto, Nanum Gothic;
	color: #e1e1e1;	
}

.btn
{
	width: 80px;
	height: 25px;
	text-align: center;
	display: inline-block;
	padding-top: 0px;
	margin-left: 10px;
	background-color: #222;
	font-family: Roboto, Nanum Gothic;
	font-size: 14px;
	font-weight: bold;
	color: white;
	border-radius: 4px;
}

#mypageList th
{
	font-family: Roboto, Nanum Gothic;
	text-align: center;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}

#mypageListTR td
{
	font-family: Roboto, Nanum Gothic;
	text-align: center;
	height: 25px;
}

#mypageList
{
	font-family: Roboto, Nanum Gothic;
	border-bottom: 1px solid #e1e1e1;
}

#memPwd, #memEmail, #memId
{
	font-family: Roboto, Nanum Gothic;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}

#searchType
{
	font-family: Roboto, Nanum Gothic;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	margin-right: 10px;
}

#searchbtn
{
	font-family: Roboto, Nanum Gothic;
	color: #e1e1e1;	
}

#searchData
{
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid #e1e1e1;
	margin-right: 10px;
}



