@CHARSET "UTF-8";

body, h1, h2, h3, h4, h5, h6, table, input, select
,textarea, a
{
	color: #333;
	font-family: Nanum Gothic, Verdana, AppleGothic, sans-serif;
	font-size: 12px; 
}

#noticeBoard
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	min-height: 73.7vh;
}
	
#title
{
	width: 250px;
	height: 42px;
	margin-top: 0px;
	margin-bottom: 1.2%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}

#title_name
{
	color: #333;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: Roboto, Nanum Gothic;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10%;
	margin-bottom: 8%;	
}

#content
{
	display: inline-table;
	font-family: Roboto, Nanum Gothic;
	color: #e1e1e1;	
}

#content1
{
	display: inline-table;
	font-family: Roboto, Nanum Gothic;
	color: #e1e1e1;	
}

#noticeContent
{
	font-family: Roboto, Nanum Gothic;
	border-bottom: 1px solid #e1e1e1;
	
}

#commentInsertform
{
	display: block;
}

#noticeContentTR1 td
{
	font-family: Roboto, Nanum Gothic;
	text-align: center;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}

#noticeContentTR2 td
{
	font-family: Roboto, Nanum Gothic;
	text-align: center;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}

#noticeContent2
{
	display: inline-table;
	font-family: Roboto, Nanum Gothic;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;	
	text-align: center;
}

.noticeTH
{
	font-family: Roboto, Nanum Gothic;
	font-weight: bold;
	font-size: 14px;
	width: 60px;
}

#contentBox
{
	text-align: left;
	height: 30vh;
	width: 100%;
	border: 0;
	resize: none;
}

#contentBox2
{
	text-align: left;
	height: 4vh;
	width: 300px;
	border: 0;
	border-bottom: 1px solid #e1e1e1;
	resize: none;
}

#repleTable
{
	width: 600px;
	margin-bottom: 3%;
}

#reID
{
	text-align: center;
	border: 1px solid white;
	width: 100px;
}

#ntBtn
{
	font-family: Roboto, Nanum Gothic;
	color: #e1e1e1;	
}

.btn
{
	width: 80px;
	height: 25px;
	text-align: center;
	display: inline-block;
	padding-top: 0px;
	margin-top: 10px;
	margin-bottom: 3px;
	margin-right: 10px;
	background-color: #222;
	font-family: Roboto, Nanum Gothic;
	font-size: 14px;
	font-weight: bold;
	color: white;
	border-radius: 4px;
}
