<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC  
 "-//mybatis.org//DTD Mapper 3.0//EN"  
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="addrbook">
	<resultMap type="com.livealone.addrbook.vo.AddrBookVO" id="addrbookMap">
		<id column="AB_ID" property="abId"/>
		<result column="AB_NAME" property="abName"/>
		<result column="AB_BIRTH" property="abBirth"/>
		<result column="AB_EMAIL" property="abEmail"/>
		<result column="AB_TEL" property="abTel"/>
		<result column="AB_COMDEPT" property="abComdept"/>
		<result column="AB_MEMO" property="abMemo"/>
	</resultMap>
	<select id="selectAddrBookList" resultMap="addrbookMap">
		SELECT AB_ID, AB_NAME, AB_BIRTH, AB_EMAIL, AB_TEL, AB_COMDEPT, AB_MEMO
		FROM ADDRBOOK
		ORDER BY AB_ID DESC
	</select>
	<select id="selectAddrBookById" parameterType="int" resultMap="addrbookMap">
		SELECT AB_ID, AB_NAME, AB_BIRTH, AB_EMAIL, AB_TEL, AB_COMDEPT, AB_MEMO
		FROM ADDRBOOK
		WHERE AB_ID = #{abId}
	</select>
	<update id="updateAddrBook" parameterType="com.livealone.addrbook.vo.AddrBookVO">
		UPDATE ADDRBOOK 
		<set>
			<if test="abName != null">AB_NAME = #{abName},</if>
			<if test="abEmail != null">AB_EMAIL = #{abEmail},</if>
			<if test="abComdept != null">AB_COMDEPT = #{abComdept},</if>
			<if test="abBirth != null">AB_BIRTH = #{abBirth},</if>
			<if test="abTel != null">AB_TEL = #{abTel},</if>
			<if test="abMemo != null">AB_MEMO = #{abMemo}</if>
		</set>
		WHERE AB_ID = #{abId}
	</update>
	<delete id="deleteAddrBook" parameterType="int" >
		DELETE ADDRBOOK
		WHERE AB_ID=#{adId}
	</delete>
	<insert id="insertAddrBook" parameterType="com.livealone.addrbook.vo.AddrBookVO">
		INSERT 
			INTO ADDRBOOK 
			(	
				AB_ID,
				AB_NAME,
				AB_EMAIL,
				AB_COMDEPT,
				AB_BIRTH,
				AB_TEL,
				AB_MEMO
			) 
		VALUES 
			(
				AB_SEQ.NEXTVAL,
				#{abName},
				#{abEmail},
				#{abComdept},
				#{abBirth},
				#{abTel},
				#{abMemo}
			)
	</insert>
</mapper>