<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC  
 "-//mybatis.org//DTD Mapper 3.0//EN"  
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
	<resultMap type="com.fleamarket.vo.BoardVO" id="boardMap">
		<id column="BA_NO" property="baNo"/>
		<result column="MEM_NO" property="memNo"/>
		<result column="BA_TYPE" property="baType"/>
		<result column="BA_TITLE" property="baTitle"/>
		<result column="BA_CONTENT" property="baContent"/>
		<result column="BA_COUNT" property="baCount"/>
		<result column="BA_DATE" property="baDate"/>
		
		<result column="MEM_ID" property="memId"/>
		<result column="MEM_NAME" property="memName"/>
		
		<result column="RP_NO" property="rpNo"/>
		<result column="RP_CONTENT" property="rpContent"/>
		<result column="RP_DATE" property="rpDate"/>
		
	</resultMap>

	<select id="selectBoardCnt" parameterType="com.fleamarket.vo.BoardVO" resultType="int">
		SELECT COUNT(1)
		FROM BOARD b
		LEFT OUTER JOIN MEMBER m
		   ON b.MEM_NO = m.MEM_NO
		<choose>
	     	<when test="baType.equals('PRODUCT')">
	     		WHERE (b.ba_type='PRODUCT' OR b.ba_type IS NULL)
	     	</when>
	     	<when test="baType.equals('WEAR')">
	     		WHERE (b.ba_type='WEAR' OR b.ba_type IS NULL)
	     	</when>
		</choose>
		<choose>
			<when test="searchType!=null and searchType.equals('SEARCHALL') ">
	     		 AND (
	     		 		m.MEM_ID LIKE '%${searchData}%' 
	     		 		OR m.MEM_NAME LIKE '%${searchData}%'
	     		 		OR b.BA_TITLE LIKE '%${searchData}%'
	     		 		OR b.BA_CONTENT LIKE '%${searchData}%'
	     		 	 )
	     	</when>
			<when test="searchType!=null and searchType.equals('SEARCHID') ">
	     		 AND m.MEM_ID LIKE '%${searchData}%'
	     	</when>
	     	<when test="searchType!=null and searchType.equals('SEARCHNAME')">
	     		 AND m.MEM_NAME LIKE '%${searchData}%'
	     	</when>
	     	<when test="searchType!=null and searchType.equals('SEARCHTITLE')">
	     		 AND b.BA_TITLE LIKE '%${searchData}%'
	     	</when>
	     	<when test="searchType!=null and searchType.equals('SEARCHCONTENT')">
	     		 AND b.BA_CONTENT LIKE '%${searchData}%'
	     	</when>
		</choose>
	</select>
	<select id="selectBoardByType" parameterType="com.fleamarket.vo.BoardVO" resultMap="boardMap">
		SELECT BA_NO, b.MEM_NO, BA_TYPE, BA_TITLE, BA_CONTENT, BA_COUNT, BA_DATE 
		     , m.MEM_ID, m.MEM_NAME, m.MEM_BLACK
		FROM BOARD b
		LEFT OUTER JOIN MEMBER m
		   ON b.MEM_NO = m.MEM_NO
		 
		<choose>
	     	<when test="baType.equals('PRODUCT')">
	     		WHERE (b.ba_type='PRODUCT' OR b.ba_type IS NULL)
	     	</when>
	     	<when test="baType.equals('WEAR')">
	     		WHERE (b.ba_type='WEAR' OR b.ba_type IS NULL)
	     	</when>
		</choose>
		<choose>
			<when test="searchType!=null and searchType.equals('SEARCHALL') ">
	     		 AND (
	     		 		m.MEM_ID LIKE '%${searchData}%' 
	     		 		OR m.MEM_NAME LIKE '%${searchData}%'
	     		 		OR b.BA_TITLE LIKE '%${searchData}%'
	     		 		OR b.BA_CONTENT LIKE '%${searchData}%'
	     		 	 )
	     	</when>
			<when test="searchType!=null and searchType.equals('SEARCHID') ">
	     		 AND m.MEM_ID LIKE '%${searchData}%'
	     	</when>
	     	<when test="searchType!=null and searchType.equals('SEARCHNAME')">
	     		 AND m.MEM_NAME LIKE '%${searchData}%'
	     	</when>
	     	<when test="searchType!=null and searchType.equals('SEARCHTITLE')">
	     		 AND b.BA_TITLE LIKE '%${searchData}%'
	     	</when>
	     	<when test="searchType!=null and searchType.equals('SEARCHCONTENT')">
	     		 AND b.BA_CONTENT LIKE '%${searchData}%'
	     	</when>
		</choose>
		ORDER BY BA_DATE DESC
	</select>

	<update id="updateBoard" parameterType="com.fleamarket.vo.BoardVO">
		UPDATE BOARD 
		<set>
			<if test="baType != null">BA_TYPE = #{baType},</if>
			<if test="baTitle != null">BA_TITLE = #{baTitle},</if>
			<if test="baContent != null">BA_CONTENT = #{baContent},</if>
		</set>
		WHERE BA_NO =#{baNo}
		  AND MEM_NO=#{memNo}
	</update>
	<update id="updateBaCount" parameterType="com.fleamarket.vo.BoardVO">
	    UPDATE BOARD SET BA_COUNT = BA_COUNT + 1 
    	WHERE BA_NO =#{baNo}
	</update>
	<delete id="deleteBoard" parameterType="com.fleamarket.vo.BoardVO">
		DELETE BOARD
		WHERE BA_NO=#{baNo}
	</delete>
	<insert id="insertBoard" parameterType="com.fleamarket.vo.BoardVO">
		INSERT 
			INTO BOARD 
			(	
				BA_NO,
				MEM_NO,
				BA_TYPE,
				BA_TITLE,
				BA_CONTENT,
				BA_COUNT,
				BA_DATE
			) 
		VALUES 
			(
				(SELECT NVL(MAX(BA_NO),0)+1 FROM BOARD),
				(SELECT MEM_NO FROM MEMBER WHERE MEM_ID=#{memId}),
				#{baType},
				#{baTitle},
				#{baContent},
				0, 
				sysdate
			)
	</insert>
	
	<select id="selectNoticeCount" resultMap="boardMap">
		select nvl(count(BA_NO), 0) as BA_NO
		from BOARD
		where BA_TYPE = 'NOTICE'
	</select>
	
	<select id="selectWearCount" resultMap="boardMap">
		select nvl(count(BA_NO), 0) as BA_NO
		from BOARD
		where BA_TYPE = 'WEAR'
	</select>
	
	<select id="selectProductCount" resultMap="boardMap">
		select nvl(count(BA_NO), 0) as BA_NO
		from BOARD
		where BA_TYPE = 'PRODUCT'
	</select>
	
	
	<!-- 댓글 -->
	
	<select id="selectReplyByBaNo" parameterType="com.fleamarket.vo.BoardVO" resultMap="boardMap">
		SELECT RP_NO ,BA_NO ,r.MEM_NO ,RP_CONTENT ,RP_DATE  
             , m.MEM_ID, m.MEM_NAME, m.MEM_BLACK
		FROM REPLY r
    	LEFT OUTER JOIN MEMBER m ON r.MEM_NO = m.MEM_NO
		WHERE BA_NO = #{baNo}
		ORDER BY RP_DATE DESC
	</select>
	<insert id="insertComment" parameterType="com.fleamarket.vo.BoardVO">
    		INSERT INTO REPLY
    		(	
				RP_NO,
				BA_NO,
				MEM_NO,
				RP_CONTENT,
				RP_DATE
			) 
    		VALUES 
			(
				(SELECT NVL(MAX(RP_NO),0)+1 FROM REPLY),
       			#{baNo},
				(SELECT MEM_NO FROM MEMBER WHERE MEM_ID=#{memId}),
				#{rpContent},
				sysdate
			)
	</insert>
	<delete id="deleteComment" parameterType="com.fleamarket.vo.BoardVO" >
		DELETE REPLY
		WHERE RP_NO=#{rpNo}
	</delete>
	
</mapper>