<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC  
 "-//mybatis.org//DTD Mapper 3.0//EN"  
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
	<resultMap type="com.fleamarket.vo.BoardVO" id="boardMap">
		<id column="BA_NO" property="baNo"/>
		<result column="MEM_NO" property="memNo"/>
		<result column="BA_TYPE" property="baType"/>
		<result column="BA_TITLE" property="baTitle"/>
		<result column="BA_CONTENT" property="baContent"/>
		<result column="BA_COUNT" property="baCount"/>
		<result column="BA_DATE" property="baDate"/>
		
		<result column="MEM_ID" property="memId"/>
		<result column="MEM_NAME" property="memName"/>
		
		<result column="RP_NO" property="rpNo"/>
		<result column="RP_CONTENT" property="rpContent"/>
		<result column="RP_DATE" property="rpDate"/>
		
	</resultMap>
	
	
	<select id="selectBoardList" resultMap="boardMap">
		SELECT BA_NO, b.MEM_NO, BA_TYPE, BA_TITLE, BA_CONTENT, BA_COUNT, BA_DATE 
		     , m.MEM_ID, m.MEM_NAME, m.MEM_BLACK
		FROM BOARD b
		LEFT OUTER JOIN MEMBER m
		   ON b.MEM_NO = m.MEM_NO
		ORDER BY BA_DATE 
	</select>
 	<select id="selectBoardById" parameterType="int" resultMap="boardMap">
		SELECT BA_NO, b.MEM_NO, BA_TYPE, BA_TITLE, BA_CONTENT, BA_COUNT, BA_DATE 
		     , m.MEM_ID, m.MEM_NAME, m.MEM_BLACK
		FROM BOARD b
		LEFT OUTER JOIN MEMBER m
		   ON b.MEM_NO = m.MEM_NO
		WHERE m.MEM_ID LIKE '% #{memId} %'
		ORDER BY BA_DATE
	</select>
	 <select id="selectBoardByNo" parameterType="int" resultMap="boardMap">
		SELECT BA_NO, b.MEM_NO, BA_TYPE, BA_TITLE, BA_CONTENT, BA_COUNT, BA_DATE 
		     , m.MEM_ID, m.MEM_NAME, m.MEM_BLACK
		FROM BOARD b
		LEFT OUTER JOIN MEMBER m
		   ON b.MEM_NO = m.MEM_NO
		WHERE BA_NO = #{baNo}
	</select>
	 <select id="selectBoardByName" parameterType="int" resultMap="boardMap">
		SELECT BA_NO, b.MEM_NO, BA_TYPE, BA_TITLE, BA_CONTENT, BA_COUNT, BA_DATE 
		     , m.MEM_ID, m.MEM_NAME, m.MEM_BLACK
		FROM BOARD b
		LEFT OUTER JOIN MEMBER m
		   ON b.MEM_NO = m.MEM_NO
		WHERE m.MEM_NAME LIKE '% #{memName} %'
		ORDER BY BA_DATE
	</select>
	<select id="selectBoardByTitle" parameterType="int" resultMap="boardMap">
		SELECT BA_NO, b.MEM_NO, BA_TYPE, BA_TITLE, BA_CONTENT, BA_COUNT, BA_DATE 
		     , m.MEM_ID, m.MEM_NAME, m.MEM_BLACK
		FROM BOARD b
		LEFT OUTER JOIN MEMBER m
		   ON b.MEM_NO = m.MEM_NO
		WHERE BA_TITLE = #{baTitle} 
		ORDER BY BA_DATE
	</select>
	<update id="updateBoard" parameterType="com.fleamarket.vo.BoardVO">
		UPDATE BOARD 
		<set>
			<if test="baType != null">BA_TYPE = #{baType},</if>
			<if test="baTitle != null">BA_TITLE = #{baTitle},</if>
			<if test="baContent != null">BA_CONTENT = #{baContent},</if>
		</set>
		WHERE BA_NO =#{baNo}
		  AND MEM_NO=#{memNo}
	</update>
	<delete id="deleteBoard" parameterType="int" >
		DELETE BOARD
		 WHERE BA_NO=#{baNo}
	</delete>
	<insert id="insertBoard" parameterType="com.fleamarket.vo.BoardVO">
		INSERT 
			INTO BOARD 
			(	
				BA_NO,
				MEM_NO,
				BA_TYPE,
				BA_TITLE,
				BA_CONTENT,
				BA_COUNT,
				BA_DATE
			) 
		VALUES 
			(
				(SELECT NVL(MAX(BA_NO),0)+1 FROM BOARD),
				(SELECT MEM_NO FROM MEMBER WHERE MEM_ID=#{memId}),
				#{baType},
				#{baTitle},
				#{baContent},
				0, 
				sysdate
			)
	</insert>
	
</mapper>