<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC  
 "-//mybatis.org//DTD Mapper 3.0//EN"  
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="notice">
	<resultMap type="com.fleamarket.vo.MemberVO" id="memberMap">
		<id column="MEM_NO" property="memNo"/>
		<result column="MEM_ID" property="memId"/>
		<result column="MEM_PWD" property="memPwd"/>
		<result column="MEM_NAME" property="memName"/>
		<result column="MEM_BIRTH" property="memBirth"/>
		<result column="MEM_DATE" property="memDate"/>
		<result column="MEM_PHONE" property="memPhone"/>
		<result column="MEM_EMAIL" property="memEmail"/>
		<result column="MEM_GRANT" property="memGrant"/>
		<result column="MEM_BLACK" property="memBlack"/>
	</resultMap>
	
	<resultMap type="com.fleamarket.vo.BoardVO" id="boardMap">
		<id column="BA_NO" property="baNo"/>
		<result column="MEM_NO" property="memNo"/>
		<result column="BA_TYPE" property="baType"/>
		<result column="BA_TITLE" property="baTitle"/>
		<result column="BA_CONTENT" property="baContent"/>
		<result column="BA_COUNT" property="baCount"/>
		<result column="BA_DATE" property="baDate"/>
		<result column="MEM_ID" property="memId"/>
		<result column="MEM_NAME" property="memName"/>
		<result column="RP_NO" property="rpNo"/>
		<result column="RP_CONTENT" property="rpContent"/>
		<result column="RP_DATE" property="rpDate"/>
	</resultMap>

	<select id="selectList" parameterType="com.fleamarket.vo.BoardVO" resultType="com.fleamarket.vo.BoardVO">
		SELECT 
		  b.BA_NO baNo,
		  (select mem_id from member where mem_no = b.mem_no) memId,
		  b.BA_TYPE baType,
		  b.BA_TITLE baTitle,
		  b.BA_DATE baDate,
		  b.BA_COUNT baCount
		FROM board b
		WHERE b.ba_type='NOTICE'
		<choose>
			<when test="searchType!=null and searchType.equals('SEARCHALL')">
	     		 AND (b.BA_TITLE LIKE '%${searchData}%' OR b.BA_CONTENT LIKE '%${searchData}%')
	     	</when>
	     	<when test="searchType!=null and searchType.equals('SEARCHTITLE')">
	     		 AND b.BA_TITLE LIKE '%${searchData}%'
	     	</when>
	     	<when test="searchType!=null and searchType.equals('SEARCHCONTENT')">
	     		 AND b.BA_CONTENT LIKE '%${searchData}%'
	     	</when>
		</choose>
		ORDER BY baNo DESC
	</select>
	
	<select id="selectCnt" parameterType="com.fleamarket.vo.BoardVO" resultType="int">
		SELECT 
		  COUNT(1)
		FROM board b
		WHERE b.ba_type='NOTICE'
		<choose>
			<when test="searchType!=null and searchType.equals('SEARCHALL')">
	     		 AND (b.BA_TITLE LIKE '%${searchData}%' OR b.BA_CONTENT LIKE '%${searchData}%')
	     	</when>
	     	<when test="searchType!=null and searchType.equals('SEARCHTITLE')">
	     		 AND b.BA_TITLE LIKE '%${searchData}%'
	     	</when>
	     	<when test="searchType!=null and searchType.equals('SEARCHCONTENT')">
	     		 AND b.BA_CONTENT LIKE '%${searchData}%'
	     	</when>
		</choose>
	</select>
	
	<update id="updateBaCount" parameterType="com.fleamarket.vo.BoardVO">
	    UPDATE BOARD SET BA_COUNT = BA_COUNT + 1 
    	WHERE BA_NO =#{baNo}
	</update>
	
	<select id="selectBoardByNo" parameterType="int" resultMap="boardMap">
		SELECT BA_NO, b.MEM_NO, BA_TYPE, BA_TITLE, BA_CONTENT, BA_COUNT, BA_DATE 
		     , m.MEM_ID, m.MEM_NAME, m.MEM_BLACK
		FROM BOARD b
		LEFT OUTER JOIN MEMBER m
		   ON b.MEM_NO = m.MEM_NO
		WHERE BA_TYPE = 'NOTICE' and BA_NO = #{baNo}
	</select>
	
	<delete id="deleteBoard" parameterType="com.fleamarket.vo.BoardVO">
		DELETE BOARD
		WHERE BA_NO=#{baNo}
	</delete>
	
	<insert id="insertBoard" parameterType="com.fleamarket.vo.BoardVO">
		INSERT 
			INTO BOARD 
			(	
				BA_NO,
				MEM_NO,
				BA_TYPE,
				BA_TITLE,
				BA_CONTENT,
				BA_COUNT,
				BA_DATE
			) 
		VALUES 
			(
				(SELECT NVL(MAX(BA_NO),0)+1 FROM BOARD),
				(SELECT MEM_NO FROM MEMBER WHERE MEM_ID=#{memId}),
				'NOTICE',
				#{baTitle},
				#{baContent},
				0, 
				sysdate
			)
	</insert>
	
	
	<!-- 댓글 -->
	
	<select id="selectReplyByBaNo" parameterType="com.fleamarket.vo.BoardVO" resultMap="boardMap">
		SELECT RP_NO ,BA_NO ,r.MEM_NO ,RP_CONTENT ,RP_DATE  
             , m.MEM_ID, m.MEM_NAME, m.MEM_BLACK
		FROM REPLY r
    	LEFT OUTER JOIN MEMBER m ON r.MEM_NO = m.MEM_NO
		WHERE BA_NO = #{baNo}
		ORDER BY RP_DATE DESC
	</select>
	
	<insert id="insertComment" parameterType="com.fleamarket.vo.BoardVO">
    		INSERT INTO REPLY
    		(	
				RP_NO,
				BA_NO,
				MEM_NO,
				RP_CONTENT,
				RP_DATE
			) 
    		VALUES 
			(
				(SELECT NVL(MAX(RP_NO),0)+1 FROM REPLY),
       			#{baNo},
				(SELECT MEM_NO FROM MEMBER WHERE MEM_ID=#{memId}),
				#{rpContent},
				sysdate
			)
	</insert>
	
	<delete id="deleteComment" parameterType="com.fleamarket.vo.BoardVO" >
		DELETE REPLY
		WHERE RP_NO=#{rpNo}
	</delete>
	
	
</mapper>